.post {
  display: flex;
  margin-bottom: 15px;
  position: relative;

  &:hover {

    .post__actions {
      opacity: 1;
    }
  }

  &__score {
    order: 0;
  }

  &__info {
    order: 1;
    padding-left: 15px;
    width: 100%;
  }

  &__actions {
    // opacity: 0;
    position: absolute;
    right: 0px;
    top: 15px;
    transition: .3s;

    &-button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      display: block;
      height: 20px;
      line-height: 20px;
      margin-bottom: 5px;
      width: 20px;

      &:hover .icon {
        color: $c-gray-darker;
      }

      .icon {
        color: $c-gray-dark;
        height: 14px;
        transition: .3s;
        width: auto;
      }
    }
  }

  &__form {
    padding: 0;
  }

  &__content {
    background-color: transparent;
    transition: .3s;
  }

  &__title {
    display: block;
    line-height: 30px;
    min-height: 30px;
    padding-right: 20px;


    a {
      font-size: inherit;
      line-height: inherit;
    }

    &h2 {
      font-size: 18px;
      line-height: 24px;
      max-height: 48px;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__body {
    margin-bottom: 10px;
  }

  &__meta {
    color: $c-gray-dark;
    padding: 10px 0;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: flex-end;

    span {
      display: inline-block;
    }
  }

  &__categories {
    margin-right: auto;
  }

  &__category {
    margin-right: 5px;
    display: inline-block;
    background-color: $c-blue-light;
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: darken($c-blue-light, 10%);
      text-decoration: underline;
    }
  }

  &__author {}

  &__date,
  &__comments {
    &:before {
      content: '\2022';
      display: inline-block;
      padding: 0 5px;
    }
  }

  &-comments {
    .post__info {
      display: flex;
      flex-direction: column;
    }

    .post__title {
      display: none;
    }

    .post__meta {
      order: 1;
    }

    .post__content {
      order: 0;
    }
  }
}

.overflow-menu {
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;

  &__item {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;
    transition: .3s;
    white-space: nowrap;
    width: 100%;

    &:hover {
      color: white;
      background-color: $c-blue;

      &.is-danger {
        background-color: $c-danger;
      }
    }

    .icon {
      display: inline-block;
      margin-right: 5px;
    }
  }

  &--active {
    display: block;
  }
}
